:ruby
  providers = {providerName1: {locales: {text: 'providerName1Text', title: 'providerName1Title'}},
               providerName2: {locales: {text: 'providerName2Text', title: 'providerName2Title'}},
               providerName3: {locales: {text: 'providerName3Text', title: 'providerName3Title'}}}

.loading.js-social-networks-auth-component-container{data: {providers: providers.to_json}}
